{# empty Twig template #}

<div class="bd-stretchtobottom-2 bd-stretch-to-bottom" data-control-selector=".bd-content-12">
<div class="bd-content-12 ">
<div class="bd-container-inner">
<div class="bd-htmlcontent-8" data-page-id="page.12">
<section class="bd-section-3 bd-tagstyles" data-section-title="Container Plus Image Below" id="section7">
<div class="bd-section-inner">
<div class="bd-section-align-wrapper">
<div class="bd-layoutbox-7 bd-background-width  clearfix">
<div class="bd-container-inner">
    
<h1 class="bd-textblock-3 bd-content-element">{{ content.field_title[5:] }}</h1>

<div class="bd-separator-3  bd-separator-center bd-separator-content-center clearfix">
<div class="bd-container-inner">
<div class="bd-separator-inner">&nbsp;</div>
</div>
</div>

<div class="container-fluid">
    <div class="row">
    <div class="col-sm-12" style="background-color:white;">
      <small>Author : Sanket Dave{{ content.author }} | Date : {{ content.field_created[7:] }}</small>
    </div>
  </div>
</div>
<p class="bd-textblock-5 bd-content-element">
<span id="docs-internal-guid-f25de8fb-4bda-603e-e0e5-93fb5b2cad93"> {{ content.body }} </span><br />
<br />
<br />
&nbsp;</p>
<!--<a class="bd-linkbutton-61  bd-button-43  bd-content-element" href="contact">contact to know more&nbsp;</a>--></div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
